 /* comment */
 body {
    background:#fcfcfc;
}

.white {
    background: rgb(252, 245, 245);
}

.yellow {
    background: rgb(250, 250, 184);
}

.green {
    background: rgb(225, 241, 200);
}

.branding {
    font-size: 28px;
    padding: 20px;
    font-weight: bold;
    color: darkblue;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    background: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: black;
}
.yellow-text:hover{
    color: blue;
    text-decoration: none;

}
.card-title {
    color: darkblue;
}
.card-title:hover{
    color: lightcoral;
    text-decoration: none;
}